

    <table class="table table-light .thead-danger col-6">
        <thead class=".thead-danger" >
          <tr>
              <th scope="col">Title</th>
            <th scope="col">Event Data</th>
            <th scope="col">Main Speaker</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ev of e" >
            <td>{{ev.title}}</td>
            <td>{{ev.Date}}</td>
            <td>{{ev.MainSpeaker}}</td>
          </tr>
          <tr>
        </tbody>
      </table>
      