<!-- <div class="container d-flex justify-content-start h-75">
    <div class="row"> -->
        <!-- <div class="card-header">
            List Title
        </div> -->
        <!-- <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
        </thead> -->
            <!-- <ol class="list-group list-group-numbered">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Cras justo odio</li>
            </ol>
    </div>
</div> -->
<!-- <table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
        </tr>
        </tbody>
    </table> -->
    <!-- a list of events -->
    <!-- <div class=" ">
        <div class="row col-lg-4">
            <div class="">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        Registered Events
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                    </ul>
                </div>
            </div>
        </div>
    </div> -->
<div class="row">

    <table class="table table-light .thead-danger col-6">
        <thead class=".thead-danger" >
          <tr>
              <th scope="col">Title</th>
            <th scope="col">Event Data</th>
            <th scope="col">Main Speaker</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ev of e" >
            <td>{{ev.title}}</td>
            <td>{{ev.Date}}</td>
            <td>{{ev.MainSpeaker}}</td>
          </tr>
          <tr>
        </tbody>
      </table>
      <!-- <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Update Profile</h3>
      <form> -->
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <!-- <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
                <label class="form-label" for="form6Example1">First name</label>
              <input type="text" id="form6Example1" class="form-control" />
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <label class="form-label" for="form6Example2">Last name</label>
                <input type="text" id="form6Example2" class="form-control" />
            </div>
        </div>
    </div> -->
      
        <!-- Email input -->
        <!-- <div class="form-outline mb-4">
            <label class="form-label" for="email">Email</label>
          <input type="email" id="email" class="form-control" />
        </div> -->
        
        <!-- Number input -->
        <!-- <div class="form-outline mb-4">
            <label class="form-label" for="Password">Password</label>
            <input type="number" id="Password" class="form-control" />
        </div>
         -->
        
        <!-- Submit button -->
        <!-- <button type="submit" class="btn btn-primary btn-block mb-4">Edit</button> -->
    <!-- </form>
</div> -->