<!-- <div>
    <div data-role="Header" class="home-navbar-container">
        <div class="home-navbar">
        <div class="home-left-side">
            <img
            alt="image"
            src="./../assets/Images/iti-logo.png"
            class="home-image"
            />
            <div data-type="BurgerMenu" class="home-burger-menu">
            <svg viewBox="0 0 1024 1024" class="home-icon">
                <path
                d="M128 256h768v86h-768v-86zM128 554v-84h768v84h-768zM128 768v-86h768v86h-768z"
                ></path>
            </svg>
            </div>
            <div class="home-links-container">
            <span class="home-link anchor">Resources</span>
            <a href="#inspiration" class="home-link1 anchor">Inspiration</a>
            <span class="home-link2 anchor">Process</span>
            <span class="home-link3 anchor">Our story</span>
            </div>
        </div>
        <div class="home-right-side">
            <button class="home-cta-btn anchor button">START NOW</button>
        </div>
        <div data-type="MobileMenu" class="home-mobile-menu">
            <div class="home-container1">
            <img
                alt="image"
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                class="home-image1"
            />
            <div data-type="CloseMobileMenu" class="home-close-menu">
                <svg viewBox="0 0 1024 1024" class="home-icon02">
                <path
                    d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
                ></path>
                </svg>
            </div>
            </div>
            <div class="home-links-container1">
            <span class="home-link4 anchor">Resources</span>
            <a href="#inspiration" class="home-link5 anchor">Inspiration</a>
            <span class="home-link6 anchor">Process</span>
            <span class="home-link7 anchor">Our story</span>
            </div>
        </div>
        </div>
    </div>
</div> -->

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
