
<h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Add Event</h3>
<div class="form-outline mb-4">
    <label class="form-label" for="ID">ID</label>
  <input [(ngModel)]="ev.id" type="text" id="ID" class="form-control" />
</div>


<div class="form-outline mb-4">
    <label class="form-label" for="Title">Title</label>
    <input [(ngModel)]="ev.title" type="text" id="Title" class="form-control" />
</div>
<div class="form-outline mb-4">
    <label class="form-label" for="Date">Date</label>
    <input [(ngModel)]="ev.Date" type="date" id="Date" class="form-control" />
</div>
<div class="form-outline mb-4">
    <label class="form-label" for="MainSpeaker">Main Speaker</label>
    <br>
    <p-dropdown [options]="AllSpeakers" [(ngModel)]="ev.MainSpeaker"></p-dropdown>

</div>
<div class="form-outline mb-4">
    <label class="form-label" for="OtherSpeakers">Other Speakers</label>
    <br>

    <p-multiSelect [options]="AllSpeakers" [(ngModel)]="ev.OtherSpeakers"></p-multiSelect>

</div>
<div class="form-outline mb-4">
    <label class="form-label" for="Students">Students</label>
    <br>

    <p-multiSelect [options]="AllStudents" [(ngModel)]="ev.students"></p-multiSelect>


</div>




<!-- Submit button -->
<button type="submit" class="btn btn-primary btn-block mb-4" (click)="EditEvent()">EditEvent</button>
